#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_OPTIONS=nocheck
export DH_BUILD_DDEBS=0
export DH_QUIET=1
export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --with kf5,pkgkde_symbolshelper --buildsystem kf5 --without build_stamp

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_QCH=ON

override_dh_auto_test:
	# Disable dh_auto_test at build time
	:
